
<% @recipes.each do |recipe| %>
  <h2>Title: <%= recipe.title %></h2>
  <h3>Chef: <%= recipe.chef %></h3>
  <h4>Ingredients: <%= recipe.ingredients %></h4>
  <h5>Directions: <%= recipe.directions %></h5>
  <br>
<% end %>